# Python Course Notes.
# Instructor: Osama elzero
---------------------------
Data is stored in computer memory.
Variables refer to data, it does not contain data, it's only referring to memory location.
code use data to perform operations.
all data in python is object.
type() is a function to return variable type.

In [1]:
print(type(100))

<class 'int'>

In [2]:
print(type([1,2,3,4]))

<class 'list'>

In [3]:
print(type(-100.66))

<class 'float'>

In [1]:
print(type((1,2,3,4,5,6)))

<class 'tuple'>

In [2]:
print(type({"one":1, "two":2}))

<class 'dict'>

# Variable naming:
1. Start with _ or A-Z or a-z
2. do not start with number or special character.
3. variable name can not include special characters.
4. variable name is case-sensitive.
5. variable name should be single lowercase word or camelCase twoWords or snake_case: myName or my_name.

# source code: original code you write in computer.
# translation: converting source code to machine language.
# compilation: translate code before runtime.
# runtime: period app takes to execute commands.
# interpreted: code translated on the fly during execution.

In [3]:
#python is a dynamic-typed language: data types can be changed.
x = 10
x = "Hello"
print(x)

Hello

# escape sequence characters
\b --> backspace: removes previous character.
\ --> newline: for long piece of code.
\\ --> backslash
"\'" --> single quote.
\" --> double quotes
\n --> line feed: split to two lines.
\r --> carriage return
print("123456\rAbcd")   #Abcd56
print("123456\rAbcde")  #Abcde6
\t --> horizontal tab
\xhh --> character hex value
print("\x4f\x73")       #os

In [4]:
#concatenation
msg = "I love"
lang = "python"
print(msg + " " + lang)

I love python

You can not concatenate strings to number.

In [5]:
#Strings:
myStringOne = "This is double quotes"
print(myStringOne)
myStringTwo = 'this is single quote'
print(myStringTwo)

This is double quotes
this is single quote

In [6]:
myStringThree = 'This is "test"'
print(myStringThree)

This is "test"

In [7]:
myStringFour = "This is 'test'"
print(myStringFour)

This is 'test'

In [8]:
myStringFive = '''
First
Second
Third
'''
print(myStringFive)

First
Second
Third

In [9]:
myStringSix = """
First
Second
Third
"""
print(myStringSix)

First
Second
Third

# Strings Indexing and slicing:
all data in python is object.
object contains elements.
every element has its own index.
python uses zero-based indexing (Index starts from zero).
use square brackets to access elements.
enable accessing parts of strings, tuples or lists.

In [10]:
#Indexing (access single item):
myString = "I love python"
print(myString[0])
print(myString[9])
print(myString[-1])
print(myString[-6])

I
t
n
p

In [11]:
#slicing : access multiple sequence items:
#[start:end]    end is not included.
print(myString[8:11])
print(myString[3:5])
print(myString[:10])
print(myString[5:])
print(myString[:])

yth
ov
I love pyt
e python
I love python

In [12]:
#slicing
#[start:end:steps]
print(myString[0::1])

I love python

In [13]:
print(myString[::1])

I love python

In [14]:
print(myString[::2])

Ilv yhn

In [15]:
print(myString[::3])

Io tn

In [1]:
#string methods:
# len()     builtin function that returns container length.
a = "I love python"
print(len(a))

13

In [2]:
#strip()    rstrip()    lstrip()    --> removes spaces
b = "   we love python  "
print(b.strip())    #removes left and right spaces.
print(b.rstrip())   #removes right spaces
print(b.lstrip())   #removes left spaces.

we love python
   we love python
we love python

In [4]:
#stripping certain characters.
a = "##I Love Python##"
print(a.strip("#"))    #removes left and right hashes.
print(a.rstrip("#"))   #removes right hashes
print(a.lstrip("#"))   #removes left hashes.

I Love Python
##I Love Python
I Love Python##

In [5]:
#title()    --> convert string to title case.
b = "I love 2d graphics and 3g technology"
print(b.title())

I Love 2D Graphics And 3G Technology

In [6]:
#capitalize()    --> convert string to capital case.
b = "I love 2d graphics and 3g technology"
print(b.capitalize())

I love 2d graphics and 3g technology

In [7]:
#zfill --> fill with leading zeros
c,d,e,f = "1","11","111","1111"
print(c.zfill(4))
print(d.zfill(4))
print(e.zfill(4))
print(f.zfill(4))

0001
0011
0111
1111

In [8]:
#upper and lower case:
name = "adam"
print(name.upper())
name2 = "OSAMA"
print(name2.lower())

ADAM
osama

In [9]:
#split and rsplit --> split sentence to words on spaces or specified character.
a = "I love python"
print(a.split())

['I', 'love', 'python']

In [10]:
b = "I-LOVE-PYTHON-AND-PHP"
print(b.split())
print(b.split("-"))     #note the difference.

['I-LOVE-PYTHON-AND-PHP']
['I', 'LOVE', 'PYTHON', 'AND', 'PHP']

In [11]:
b = "I-LOVE-PYTHON-AND-PHP"
print(b.split("-",2))

['I', 'LOVE', 'PYTHON-AND-PHP']

In [12]:
b = "I-LOVE-PYTHON-AND-PHP"
print(b.rsplit("-",2))

['I-LOVE-PYTHON', 'AND', 'PHP']

In [13]:
#center(no of characters)   --> default character is space.
e = "adam"
print(e.center(8))

  adam

In [14]:
f= "wilson"
print(f.center(10, "#"))

##wilson##

In [16]:
#count()
g = "I love python and PHP, Because PHP is easy"
print(g.count("PHP"))       #count parameter is case-sensitive.

#count("string", start, end)
print(g.count("PHP", 0 , 25))

2
1

In [17]:
#swapcase       --> converts uppercase to lowercase and vice versa.
h = "I love Python"
print(h.swapcase())

i LOVE pYTHON

In [18]:
#startwith("char", start, end)
i = "i love python"
print(i.startswith("i"))
print(i.startswith("s"))
print(i.startswith("p", 7, 12))

True
False
True

In [19]:
#endwith("char", start, end)
j = "i love python"
print(j.endswith("n"))
print(i.endswith("i"))
print(i.endswith("e", 2, 6))

True
False
True

In [1]:
#index(substring, start, end)
k = "we love python"
print(k.index("p"))
print(k.index("p", 0, 10))
#if item is not found, it will throw an error, and will stop code execution.

8
8

In [2]:
#find(substring, start, end)
l = "I love python"
print(l.find("p"))
print(l.find("p", 0, 10))
print(l.find("p", 0, 5))        # returns -1 as not found.

7
7
-1

In [4]:
#rjust : right justified, ljust: left justified.
m = "osama"
print(m.rjust(10))
print(m.rjust(10,"#"))
m = "osama"
print(m.ljust(10))
print(m.ljust(10,"#"))

     osama
#####osama
osama
osama#####

In [5]:
#splitlines()
e = """ first line
second line
third line
"""
print(e.splitlines())

[' first line', 'second line', 'third line']

In [6]:
f = "first line \n second line \n third line"
print(f.splitlines())

['first line ', ' second line ', ' third line']

In [10]:
#expandtabs(number)
g = "Hello\tworld\tI\tlove\tpython"
print(g.expandtabs(2))
print(g.expandtabs(4))

Hello world I love  python
Hello   world   I   love    python

## string functions:-

In [11]:
#.istitle()
one = "I love python"
print(one.istitle())

False

In [12]:
two = " I Love Python"
print(two.istitle())

True

In [13]:
three = " "
print(three.isspace())

True

In [14]:
four = "you love python !!"
print(four.islower())

True

In [15]:
five = "467abc"
six = "_y647"
seven = "adam"
print(five.isidentifier())
print(six.isidentifier())
print(seven.isidentifier())
#.isidentifier() checks for valid variable names.

False
True
True

In [16]:
eight = "abc"
nine = "abc123"
print(eight.isalpha())  #checks for letters only
print(nine.isalpha())
print(eight.isalnum())  #checks for letters and names.
print(nine.isalnum())

True
False
True
True

## .replace(oldvalue, newvalue, count)

In [18]:
n = "Hello one two three one one"
print(n.replace("one", "1", 2))

Hello 1 two three 1 one

## .join(iterable)

In [20]:
myList = ["Osama", 'mohamed', 'sayed']
print("-".join(myList))
print(" ".join(myList))
print(type(",".join(myList)))

Osama-mohamed-sayed
Osama mohamed sayed
<class 'str'>

## string formatting oldway:-

In [21]:
name = "osama"
age = 36
rank = 10
print("my name is: %s and my age is: %d"%(name, age))

my name is: osama and my age is: 36

### %s --> string
### %d --> digit
### %f --> float --> 6 trailing zeros
### %.2f --> float with 2 trailing zeros.

In [23]:
n = "adam"
l = "python"
y = 10
print("I am %s, i am %s developer with %d years experience" %(n, l, y))

I am adam, i am python developer with 10 years experience

### string formatting new way:

In [24]:
name = 'adam'
age = 20
rank = 10
print("My name is {} and my age is: {} and my rank is{}".format(name, age, rank))

My name is adam and my age is: 20 and my rank is10

In [26]:
print("My name is {:s} and my age is: {:d} and my rank is {:f}".format(name, age, rank))

My name is adam and my age is: 20 and my rank is 10.000000

In [27]:
myNumber = 10
print("my number is: {:.2f}".format(myNumber))

my number is: 10.00

In [29]:
myLongString = "Hello people of elzero webschool"
print("message is {}".format(myLongString))
print("message is {:.5s}".format(myLongString))

message is Hello people of elzero webschool
message is Hello

In [30]:
myMoney  = 4294967296
print("myMoney in the bank is: {:d}".format(myMoney))
print("myMoney in bank is: {:,d}".format(myMoney))

myMoney in the bank is: 4294967296
myMoney in bank is: 4,294,967,296

In [31]:
a,b,c = "One", "two", "three"
print("Hello {}{}{}".format(a,b,c))
print("Hello {2}{0}{1}".format(a,b,c))

Hello Onetwothree
Hello threeOnetwo

In [35]:
x,y,z = 10, 20 ,30
print("Hello {} {} {}".format(x,y,z))
print("Hello {1:d} {2:d} {0:d}".format(x,y,z))
print("Hello {2:.2f} {0:.4f} {1:.5f}".format(x,y,z))

Hello 10 20 30
Hello 20 30 10
Hello 30.00 10.0000 20.00000

### format in python 3.6+

In [36]:
myVar = 'adam'
myAge = 36
print("my name is: {myVar} and my age is: {myAge}")
print(f"my name is: {myVar} and my age is: {myAge}")

my name is: {myVar} and my age is: {myAge}
my name is: adam and my age is: 36

### Numbers
integer: positive, negative or zero.
float: 100.7, -10.99, 5.62
complex: real + imaginary part, ex: 5+6j

In [2]:
myComplex = 5+6j
print(type(myComplex))
print("Real part is:{}".format(myComplex.real))
print("imaginary part is:{}".format(myComplex.imag))

<class 'complex'>
Real part is:5.0
imaginary part is:6.0

### Numbers Conversion
you can convert integer to float and vice versa.
you can convert integer and float to complex but not vice versa.

In [3]:
print(100)
print(float(100))
print(complex(100))

print(10.50)
print(int(10.50))
print(complex(10.50))

100
100.0
(100+0j)
10.5
10
(10.5+0j)

## Arithmetic operations:
1. Addition:

In [4]:
print(10+30)
print(1+2.66)
print(-10+20)

40
3.66
10

In [5]:
#2.subtraction:
print(60-30)
print(5.66-3.44)
print(-30--20)

30
2.22
-10

In [6]:
#3.multiplication:
print(10*3)
print(5+10*100)

30
1005

In [7]:
#4.division:
print(100/20)

5.0

In [8]:
#5. Modulus:
print(8%2)
print(8%3)

0
2

In [9]:
#6.exponent:
print(2**5)
print(5**4)

32
625

In [10]:
#7.floor division:  Notice the differences
print(100//20)
print(119/20)
print(120//20)
print(130//20)
print(140//20)

5
5.95
6
6
7

## Lists:
1. list items are enclosed in square brackets.
2. lists are ordered, use index to access items.
3. lists are mutable --> add, delete, edit.
4. list items are not unique.

In [11]:
myList = ["One", "Two", "one", 1, 100.4, True]
print(myList)
print(myList[0])        #first item
print(myList[-1])       #last item
print(myList[1:4])
print(myList[:4])
print(myList[1:])
print(myList[::1])          #one step at a time
print(myList[::2])          #two steps at a time.

['One', 'Two', 'one', 1, 100.4, True]
One
True
['Two', 'one', 1]
['One', 'Two', 'one', 1]
['Two', 'one', 1, 100.4, True]
['One', 'Two', 'one', 1, 100.4, True]
['One', 'one', 100.4]

## List methods:
### append
Note: you can append a list to a list.  imported list becomes a sublist in the new list.

In [12]:
#append
myFriends = ["Osama", "Ahmed", "sayed"]
myFriends.append("alaa")
myFriends.append("100")
print(myFriends)
print(myFriends[2])

['Osama', 'Ahmed', 'sayed', 'alaa', '100']
sayed

In [13]:
#extend --> it imports new list' items to old list as separate items.
a = [1,2,3,4]
b = ["A", "B", "C"]
a.extend(b)
print(a)

[1, 2, 3, 4, 'A', 'B', 'C']

In [14]:
#remove
x = [1,2,3,4,5]
x.remove(5)
print(x)

[1, 2, 3, 4]

In [18]:
#sort:  --> numbers only or strings only.
y = [1,2,100,120,-10,17,29]
y.sort()
print(y)
y.sort(reverse = True)
print(y)

[-10, 1, 2, 17, 29, 100, 120]
[120, 100, 29, 17, 2, 1, -10]

In [19]:
#reverse --> reverse the list items
z = [10,1,9,80,100,'adam']
z.reverse()
print(z)

['adam', 100, 80, 9, 1, 10]

In [20]:
#clear --> removes list items
aa = [1,2,3,4]
aa.clear()
print(aa)

[]

In [21]:
#copy()
b = [1,2,3,4,5]
c = b.copy()    #shallow copy does not care what happens in the main list.
print(b)
print(c)
b = [1,2,4,6,7]
print(b)
print(c)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 4, 6, 7]
[1, 2, 3, 4, 5]

In [22]:
#count
d = [1,2,3,1,4,5,6,7,1]
print(d.count(1))

3

In [23]:
#index()
e = ['osama', 'ahmed', 'ramy', 'sayed', 'ramy']
print(e.index('ramy'))      #first index found is returned.

2

In [25]:
#insert(index, object)  --> inserts object before index.
f = [1,2,3,4,5,"A", "B"]
f.insert(0, 'test')
print(f)

['test', 1, 2, 3, 4, 5, 'A', 'B']

In [26]:
#pop(index)
g = [1,2,3,4,5]
print(g.pop(2))

3

## Tuples:
1. Tuples items are enclosed in parentheses.
2. you can remove parentheses if you want.
myTuple = ("Osama", "Ahmed")
myTuple2 = "Osama", "Ahmed"
3. Tuple are indexed, use index to access item.
4. tuple are immutable, you can not add or delete.
5. tuple items are not unique.
6. tuple items can be different types.

In [27]:
myTuple = ['osama', 'osama', 1,2,3,4,5,True]
print(myTuple[1])
print(myTuple[-1])

osama
True

In [29]:
#tuple with one element:
myTuple1 = ('osama',)
mytuple2 = "osama",     #comma added afterword to identify as tuples not as string.
print(myTuple1)
print(mytuple2)
print(type(myTuple1))
print(type(mytuple2))

('osama',)
('osama',)
<class 'tuple'>
<class 'tuple'>

In [30]:
#tuple concatenation:
a = (1,2,4,3)
b = (5,6)
c = a+b
print(c)

(1, 2, 4, 3, 5, 6)

In [31]:
#repeat
myString = 'adam'
myList = [1,2,3,4]
myTuple = ("A", "B")
print(myString * 6)
print(myList * 6)
print(myTuple * 6)

adamadamadamadamadamadam
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
('A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'B')

In [32]:
# Count & index
a = (1,2,3,7,8,2,5,6,8)
print(a.count(8))

2

In [33]:
b = (1,3,7,8,2,6,5)
print(b.index(7))

2

In [35]:
#tuple destruct
a = ("A", "B", 4, "C")
x,y,_,Z = a # we use underscore to ignore certain values.
print(x)
print(y)
print(Z)

A
B
C

### Till Vid 25

# sets
- set items are enclosed in curly braces {}
- set items are not ordered , not indexed.
- set indexing and slicing can't be done
- set has only immutable data type (numbers, strings , tuples) where lists and dicts are not included.
- set items are unique.

In [1]:
#not ordered and not indexed.
mySetOne = {"Osama", 'ahmed', 100}
print(mySetOne)

{'Osama', 'ahmed', 100}

In [2]:
#items are unique
mySetFour = {1,2,'Adam', 'One', 1}
print(mySetFour)

{1, 2, 'Adam', 'One'}

In [3]:
#set methods
#clear()
aaa = {1,2,3,4,5}
aaa.clear()
print(aaa)

set()

In [6]:
#union()
b = {"One", "Two", "Three"}
c = {"1", "2", "3"}
print(b|c)
print(b.union(c))
d = {"Zoo", "Cool"}
print(b.union(c,d))

{'3', 'One', '1', 'Two', '2', 'Three'}
{'3', 'One', '1', 'Two', '2', 'Three'}
{'3', 'One', '1', 'Zoo', 'Cool', 'Two', '2', 'Three'}

In [7]:
#.add() -- accepts only one argument.
e = {1,2,3,4}
e.add(5)
print(e)

{1, 2, 3, 4, 5}

In [8]:
#.copy() -- shallow copy, does not get affected by changes in origin.
f = {1,2,3,4}
z = f.copy()
print(f)
print(z)
f.add(6)
print(f)
print(z)

{1, 2, 3, 4}
{1, 2, 3, 4}
{1, 2, 3, 4, 6}
{1, 2, 3, 4}

In [9]:
#remove()
g = {1,2,3,4}
g.remove(1)
print(g)
#g.remove(7) --> raises an error

{2, 3, 4}

In [12]:
#discard()
h = {1,2,3,4}
h.discard(1)
print(h)
h.discard(7) #--> does not raise an error

{2, 3, 4}

In [14]:
#pop() --> removes random element from set
i = {"a", True, 1,2,3,4,6}
print(i.pop())

True

In [17]:
#update
j = {1,2,3}
k = {1,2,'A', 'B'}
j.update(k) #--> adds unique k elements to j sets
print(j)
j.update([3,4,6,7,8])   #add list contents to j set.
print(j)

{1, 2, 3, 'B', 'A'}
{1, 2, 3, 4, 6, 7, 8, 'B', 'A'}

In [18]:
#difference
a = {1,2,3,4}
b = {1,2,'adam', 'smith'}
print(a.difference(b))
print(b.difference(a))

{3, 4}
{'smith', 'adam'}

In [19]:
#difference_update
c = {1,2,3,4,5}
d = {1,2,3,'Osama', 'ahmed'}
c.difference_update(d)  #discards repeated items.
print(c)

{4, 5}

In [20]:
#intersection
e = {1,2,3,4,'X'}
f = {'Osama', 'X', 2}
print(e)
print(e.intersection(f))
print(e)

{1, 2, 3, 4, 'X'}
{2, 'X'}
{1, 2, 3, 4, 'X'}

In [21]:
#intersection update
g = {1,2,3,4,'X'}
h = {'Osama', 'X', 2}
print(g)
print(g.intersection_update(h))
print(g)

{1, 2, 3, 4, 'X'}
None
{2, 'X'}

In [22]:
#symmetric difference --> things not in common.
i = {1,2,3,'x'}
j = {'adam', 'zero', 1,2,4}
print(i)
print(i.symmetric_difference(j))
print(i)

{1, 2, 3, 'x'}
{3, 4, 'x', 'zero', 'adam'}
{1, 2, 3, 'x'}

In [23]:
#symmetric difference update --> things not in common.
i = {1,2,3,'x'}
j = {'adam', 'zero', 1,2,4}
print(i)
print(i.symmetric_difference_update(j))
print(i)

{1, 2, 3, 'x'}
None
{3, 4, 'x', 'zero', 'adam'}

In [24]:
#issuperset
k = {1,2,3,4,5}
l = {1,2,3}
print(k.issuperset(l))

True

In [25]:
k = {1,2,3,4,5}
l = {1,2,3}
print(l.issubset(k))

True

In [26]:
#isdisjoint     --> nothing is common
i = {10,11,12}
g = {1,2,3,4}
h = {1,2,3}
print(g.isdisjoint(h))
print(g.isdisjoint(i))

False
True

## Dictionary
- dict items are enclosed in curly braces.
- dict items contains key:value
- dict key need to be immutable --> number, string, tuple.
- list is not allowed to be key.
- dict value can have any data type.
- dict keys need to be unique.
- dictionary is not ordered, you access its elements with key.

In [28]:
user = {
    "name":"khaled",
    "age":37,
    "country":"egypt",
    "skills":["HTML", 'CSS'],
    "rating":10.4
}
print(user)
print(user['country'])
print(user.get('country'))

{'name': 'khaled', 'age': 37, 'country': 'egypt', 'skills': ['HTML', 'CSS'], 'rating': 10.4}
egypt
egypt

In [29]:
print(user.keys())
print(user.values())

dict_keys(['name', 'age', 'country', 'skills', 'rating'])
dict_values(['khaled', 37, 'egypt', ['HTML', 'CSS'], 10.4])

## Two dimensional dictionary
-  dictionary of dictionaries

In [30]:
languages = {
    "One":{
        "name":"HTML",
        "progress":"80%"
    },
    "Two":{
        "name":"CSS",
        "progress":"90%"
    },
    "Three":{
        "name":"JS",
        "progress":"80%"
    }
}
print(languages)
print(languages['Three']['progress'])

{'One': {'name': 'HTML', 'progress': '80%'}, 'Two': {'name': 'CSS', 'progress': '90%'}, 'Three': {'name': 'JS', 'progress': '80%'}}
80%

In [31]:
# Create Dictionary from variables:
frameworkOne = {
    "name":"VueJs",
    "progress":"80%"
}
frameworkTwo = {
    "name":"React",
    "progress":"80%"
}
frameworkThree = {
    "name":"Angular",
    "progress":"80%"
}
allframeworks = {
    "One":frameworkOne,
    "Two":frameworkTwo,
    "Three":frameworkThree
}
print(allframeworks)

{'One': {'name': 'VueJs', 'progress': '80%'}, 'Two': {'name': 'React', 'progress': '80%'}, 'Three': {'name': 'Angular', 'progress': '80%'}}

### Till video 30

## Dictionary Methods

In [1]:
#clear()
user = {
	"name":"osama"
}
print(user)
user.clear()
print(user)

{'name': 'osama'}
{}

In [2]:
#update
member = {
	"name" : "osama"
}
print(member)
member["age"] = 36  #updating without update command
print(member)
member.update({"country":"Egypt"})      #updating with update command.
print(member)

{'name': 'osama'}
{'name': 'osama', 'age': 36}
{'name': 'osama', 'age': 36, 'country': 'Egypt'}

In [3]:
#copy --> shallow copy
main = {
	"name":"osama"
}
b = main.copy()
print(b)
main.update({"skills":"fighting"})
print(main)
print(b)

{'name': 'osama'}
{'name': 'osama', 'skills': 'fighting'}
{'name': 'osama'}

In [5]:
#keys + values
print(main.keys())
print(main.values())

dict_keys(['name', 'skills'])
dict_values(['osama', 'fighting'])

In [7]:
#setdefault
user = {
	"name":"Osama"
}
print(user)
print(user.setdefault("name", "ahmed"))     #the key is found so it returns its value.
print(user)

{'name': 'Osama'}
Osama
{'name': 'Osama'}

In [8]:
#setdefault
user = {
	"name":"Osama"
}
print(user)
print(user.setdefault("age", 36))   #the key is not found so it creates it and add its value
print(user)

{'name': 'Osama'}
36
{'name': 'Osama', 'age': 36}

In [9]:
#setdefault
user = {
	"name":"Osama"
}
print(user)
print(user.setdefault("age"))   #the key is not found so it creates it and add its value = None.
print(user)

{'name': 'Osama'}
None
{'name': 'Osama', 'age': None}

In [10]:
#popitem
#it returns last added item in dictionary in python 3.7+
# in other versions of python 3, it returns random item
member = {
	"name":"osama",
	"skill":"JS"
}
print(member)
member.update({"age":36})
print(member.popitem())

{'name': 'osama', 'skill': 'JS'}
('age', 36)

In [12]:
#items --> returns key:value pairs of a dictionary
view = {
	"name":"osama",
	"skill":"php"
}
allItems = view.items()
print(view)
view['age'] = 36
print(allItems)

{'name': 'osama', 'skill': 'php'}
dict_items([('name', 'osama'), ('skill', 'php'), ('age', 36)])

In [13]:
#fromkeys() --> creates dictionary from keys
a = ('MyKeyOne', 'myKeyTwo', 'MyKeyThree')
b = 'x'
print(dict.fromkeys(a,b))

{'MyKeyOne': 'x', 'myKeyTwo': 'x', 'MyKeyThree': 'x'}