In [ ]:
#-----------------------------------------------
# Solutions to Elzero web school python course.
# by Khaled Mahmoud.
# ----------------------------------------------

In [2]:
#week one
#assingments 2 & 3:
name = "Khaled"
age = '30'
country = 'Egypt'
print("Name: ", name, "\n", "Age: ", age,"\n", "country: ", country)

Name:  Khaled
 Age:  30
 country:  Egypt

In [2]:
#4th assignment:
print("Hello, My Name Is ", name, "And Iam ", age, "Years Old and I Live in ", country, ".")

Hello, My Name Is  Khaled And Iam  30 Years Old and I Live in  Egypt .

In [3]:
#5th assignment:
print(type(name))
print(type(age))
print(type(country))

<class 'str'>
<class 'str'>
<class 'str'>

## Week Two:
### 1st Assignment

In [4]:
name = "khaled"
age = "36"
Country = "Egypt"
print("Hello '{}', How You Doing \\ \"\"\" Your Age Is \"{}\"\" + And Your Country Is: {}".format(name, age, country))

Hello 'khaled', How You Doing \ """ Your Age Is "36"" + And Your Country Is: Egypt

### 2nd Assignment:

In [5]:
name = "khaled"
age = "36"
Country = "Egypt"
print("Hello '{}', How You Doing \\ \n \"\"\" Your Age Is \"{}\"\" +\n And Your Country Is: {}".format(name, age, country))

Hello 'khaled', How You Doing \
 """ Your Age Is "36"" +
 And Your Country Is: Egypt

### 3rd Assignment

In [8]:
name = 'Elzero'
print("Second letter is " + name[1])
print("Third letter is " + name[2])
print("Last letter is " + name[-1])

Second letter is l
Third letter is z
Last letter is o

In [23]:
#4th assignment
name = 'Elzero'
print(name[1:4])
print(name[::2])
print(name[4::-2])

lze
Ezr
rzE

### 5th assignment

In [24]:
name = "#@#@Elzero#@#@"
print(name.strip("#@"))

Elzero

In [25]:
#6th assignment
num1 = "9"
num2 = "15"
num3 = "130"
num4 = "950"
num5 = "1500"
print(num1.zfill(4))
print(num2.zfill(4))
print(num3.zfill(4))
print(num4.zfill(4))
print(num5.zfill(4))

0009
0015
0130
0950
1500

### 7th Assignment

In [26]:
name_one = "Osama"
name_two = "Osama_Elzero"
print(name_one.rjust(20, '#'))
print(name_two.rjust(20, '#'))

###############Osama
########Osama_Elzero

### 8th Assignment

In [27]:
name_one = "OSamA"
name_two = "osaMA"
print(name_one.swapcase())
print(name_two.swapcase())

osAMa
OSAma

In [28]:
#9th Assignment
msg = "I Love Python And Although Love Elzero Web School"
print(msg.count("Love"))

2

In [29]:
#10th Assignment
name = "Elzero"
print(name.index("z"))

2

In [30]:
#11th Assignment
msg = "I <3 Python And Although <3 Elzero Web School"
print(msg.replace("<3", "Love", 1))

I Love Python And Although <3 Elzero Web School

In [31]:
#12th Assignment
msg = "I <3 Python And Although <3 Elzero Web School"
print(msg.replace("<3", "Love"))

I Love Python And Although Love Elzero Web School

In [32]:
#13th Assignment.
name = "Osama"
age = 38
country = "Egypt"
print(f"My Name Is {name}, And My Age Is {age}, And My Country Is {country}")

My Name Is Osama, And My Age Is 38, And My Country Is Egypt

## week three
### first assignment

In [33]:
print(type(1))
print(type(2.0))
print(type(5.0j))

<class 'int'>
<class 'float'>
<class 'complex'>

In [36]:
#2nd Assignment
myComplex = 1+2j
print("Imaginary part is: "+ str(myComplex.imag))
print("Real part is: "+ str(myComplex.real))

Imaginary part is: 2.0
Real part is: 1.0

### 3rd Assignment

In [43]:
num = 10
print("{:.10f}".format(num))

10.0000000000

In [48]:
#4th Assignment
num = 159.650
print(int(num))
print(type(num))

In [49]:
print(100 - 115)
print(50 * 30)
print(21 % 4)
print(110 / 11)
print(97 // 20)

### till video 20